2_Triangles/build
2_Triangles/optimizers/bsp_tree/build
2_Triangles/optimizers/bsp_tree/sources/main.cpp
2_Triangles/optimizers/bsp_tree/CMakeLists.txt
2_Triangles/.vscode
.vscode
3_Tree/build
3_Tree/.vscode
4_Matrix/build
4_Matrix/.vscode
